  
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><img src="../../assets/images/livres.png" alt="" class="rounded-circle img-fluid"></a>

 <ul class="navbar-nav">
      <li class="nav-item" >
          <a routerLink="books" class="btn btn-outline-light font-weight-bold">Livres</a>
      </li>
    <li class="nav-item"  *ngIf="!isAuth">
        <a routerLink="auth/signin" class="btn btn-outline-light  font-weight-bold">Connexion</a>
    </li>
    <li class="nav-item"*ngIf="!isAuth">
          <a routerLink="auth/signup" class="btn btn-outline-light font-weight-bold">Créer un compte</a>
            </li>
            <li class="nav-item" *ngIf="isAuth" (click)="onSignOut()">
                 <a routerLink="auth/signup" style="cursor: pointer" class=" font-weight-bold btn btn-outline-light">Déconnexion</a>
                    </li>
       
                  </ul>
      </nav>