    
      <h2>Créer un compte</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >

        <div class="form-group ">
          <label for="email">Adresse mail</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 formControlName="password">
        </div>
        <button class="btn btn-outline-dark font-weight-bolder"
                type="submit"
                [disabled]="signupForm.invalid">M'enregistrer</button>
      </form><br><br>
      <p class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
    
  