<!-- <div class="row">
  <div class="col-xs-12">
    <h2>Vos livres</h2>
    <div class="list-group">
      <button
        class="list-group-item"
        *ngFor="let book of books; let i = index"
        (click)="onViewBook(i)">
        <h3 class="list-group-item-heading">
          {{ book.title }}
          <button class="btn btn-outline-warning" (click)="onDeleteBook(book)">
            <i class="fas fa-times"></i>
          </button>
          
          <button class="btn btn-outline-warning" (click)="onDeleteBook(book)">
            <i class="far fa-eye"></i>
          </button>
        </h3>
        <p class="list-group-item-text">{{ book.author }}</p>
      </button>
    </div>
    <button class="btn btn-primary" (click)="onNewBook()">Nouveau livre</button>
  </div>
</div> -->



<div class="list-group ">
	<div  *ngFor="let book of books; let i = index" class="  border border-dark  list-group-item list-group-item-action flex-column align-items-start">
		<div class="row">
			<div class="col col-md-2 ">
        <img  *ngIf="book.photo" [src]="book.photo" class="image img-fluid img-thumbnail ">
			</div>
			<div class="col col-md-7 text-col">
				<h5 class="mb-1">  {{ book.title }}</h5>
				<small>{{ book.author }}</small>
			</div>
			<div class="col col-md-1 actions-col-1">
				<button class="btn btn-outline-warning btn-sm  " (click)="onDeleteBook(book)" type="button">
				 <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="col col-md-1 actions-col-1">
        <button class="btn btn-outline-warning btn-sm "   (click)="onViewBook(i)" type="button">
          <i class="far fa-eye"></i>
				</button>
			</div>
		</div>
	</div>
</div>
<br><br>
<button class="btn btn-outline-dark font-weight-bolder " (click)="onNewBook()">Nouveau livre</button>