    
      <h2>Connexion</h2>
      <div class=" row border border-dark rounded-circle ">
        <div class="col-3"></div>
        <div class="col-6">
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" >

        <div class="form-group ">
          <label for="email"></label>
          <input type="text"
          placeholder="veuillez saisir votre email ici"
                 id="email"
                 class="form-control form-control-plaintext"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password"
          placeholder="veuillez saisir votre mot de passe ici"
                 id="password"
                 class="form-control form-control-plaintext"
                 formControlName="password">
        </div>
        <button class="btn btn-outline-dark font-weight-bolder "
                type="submit"
                [disabled]="signinForm.invalid">Me connecter</button>
                <br><br>

      </form>
    </div>
    <div class="col-3"></div>
      <br><br>
      </div>
      <div class=" alert alert-warning" *ngIf="errorMessage">{{ errorMessage }}</div>
    
  