<app-header></app-header>
<br><br><br>
<div class=" container"
>
<div class="row">
  <div class="col-2 "></div>
  <div class="col-8 text-center "> <router-outlet></router-outlet></div>
<div class="col-2"></div>
</div>

</div>